.app {
  text-align: center;
  width: 1280px;
  margin: 0 auto;
}

input {
  border: 1px solid #6b6b6b;
  border-radius: 4px;
  padding-left: 5px;
}
button {
  border: 1px solid #f3f3f3;
  background: #f3f3f3;
  padding-left: 5px;
  border-radius: 4px;
  color: #000;
  cursor: pointer;
}

button.confirm {
  background: darkblue;
  color: #fff;
}

button.cancel, .btn-remove {
  background: crimson;
  color: #fff;
}

.btn-visited {
  background: #222222;
  color: #fff;
}

.app-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.app-title {
  font-size: 1.5em;
}

.app-intro {
  font-size: large;
}

.app-content {
  display: flex;
}

.app-grid-item {
  width: 70%;
}

.app-grid-item.places {
  width: 30%;
}

.places-list {
  padding: 0 20px;
  text-align: left;
}

.place-item {
  border: 1px solid #8787ff;
  padding: 5px;
  border-radius: 4px;
  margin: 10px 0;
  cursor: pointer;
}

.place-item div {
  padding: 10px 0;
}

.place-item.visited {
  opacity: 0.5;
}

@media screen and (max-width: 1280px) {
  .app {
    width: 100%;
  }
}

@media screen and (max-width: 720px) {
  .app-content {
    display: block;
  }

  .app-grid-item, .app-grid-item.places {
    width: 100%;
  }

  .places-list {
    text-align: center;
  }

  .place-item {
    text-align: left;
  }
}